@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="icon" type="image/png" sizes="16x16" href="">
    <title>@ViewBag.Title</title>
    <!-- external css -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/assets/css/common.css")
    
    <link href="~/assets/css/nice-select.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/assets/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    @Styles.Render("~/assets/css/loadingbar.css")
    @Styles.Render("~/Content/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
    <link href="~/Areas/Admin/assets/css/DatePicker.css" rel="stylesheet" />
</head>
<body>

    <div id="divLoader" style="display: none;">
        <div style="border: none; z-index: 100010; position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; padding: 0; margin: 0; background-color: #000; filter: alpha(opacity=40); opacity: 0.20;">
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-white">
        <a class="navbar-brand" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })">
            <img src="~/assets/images/logo1.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav ml-auto">
                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", @style = "padding:0px !important;margin-right:0px !important" }))
                {
                    @Html.AntiForgeryToken()
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-name">
                                <img src="~/assets/images/north-face-brand.png" alt="North Face Brand"><span>Welcome, <b>@User.Identity.GetUserName()</b></span>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" id="lnklogout_loader" href="javascript:document.getElementById('logoutForm').submit()" title="Logout">Logout</a>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-xl-3 d-md-block bg-light sidebar bg-white">
                <div class="sidebar-sticky menu-item">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a id="lnkDashboard" class="nav-link active" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "" })">
                                <i class="fa fa-dashboard"></i>
                                &nbsp;Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="lnkManageCampaign" class="nav-link" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "#" })">
                                <i class="fa fa-bullhorn"></i>
                                &nbsp;Sellers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="lnkManageCompany" class="nav-link" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "#" })">
                                <i class="fa fa-building-o"></i>
                                &nbsp;Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="lnkManageCompany" class="nav-link" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "#" })">
                                <i class="fa fa-building-o"></i>
                                &nbsp;Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="lnkManageCompany" class="nav-link" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "#" })">
                                <i class="fa fa-building-o"></i>
                                &nbsp;Orders
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
            <div class="main col-xl-9 ml-sm-auto">
                <div class="alert alert-success hide margin-top-alert" id="divSuccess" style="display:block">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <i class='fa fa-check paymenttick'></i>
                    <span id="spanMessage"></span>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>


    <!-- Back Top -->
    <div class="back-top"><a href="#0"><i class="fa fa-angle-up" aria-hidden="true"></i></a></div>

    <!-- Scripts -->
    <script type="text/javascript" src="~/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins.js"></script>
    <script type="text/javascript" src="~/assets/js/scripts.js"></script>

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/assets/scripts/jquery.loadingbar.min.js")

    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

    @Scripts.Render("~/Scripts/CommonFunctions.js?ver=1.3")
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2/select2.min.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var lsLoginUrl = "#";
        jQuery(document).ready(function () {

            $('a[id*=_loader]').click(function () {
                if ($("#loadingbar").length === 0) {
                    $("body").append("<div id='loadingbar'></div>")
                    $("#divLoader").css("display", "block");
                    $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                    $("#loadingbar").width((50 + Math.random() * 30) + "%");
                }
            });

            $(document).ajaxError(
                function (event, jqXHR, ajaxSettings, thrownError) {
                    if (jqXHR.status == '403') {
                    }
                    else if (jqXHR.status == '401') {

                    }
                });

            $.ajaxSetup({
                beforeSend: function () {
                    if ($("#loadingbar").length === 0) {
                        $("body").append("<div id='loadingbar'></div>")
                        $("#divLoader").css("display", "block");
                        $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                        $("#loadingbar").width((50 + Math.random() * 30) + "%");
                    }
                },
                complete: function () {
                    $("#loadingbar").width("101%").delay(200).fadeOut(400, function () {
                        $(this).remove();
                        $("#divLoader").css("display", "none");
                    });
                }
            });
        });

        window.onload = function () {
            var tabID = $("#ActiveMenu").text();
            $(".menu1").each(function (index) {
                var menuSelected = $(this).attr("id");
                $(this).parent().removeClass("open active");
                if (String(tabID).toLowerCase() == String(menuSelected).toLowerCase()) {
                    $(this).parent().addClass("open active");
                    $(this).append("<span class='selected'></span>")
                }
            });
        }

    </script>

    <!-- END JAVASCRIPTS -->
</body>

</html>
