@model InventoryApp.Areas.Admin.Models.OrderModel

@if (Model != null && Model.loOrderList.Count > 0)
{
    <div class="table-responsive dash-table">
        <table class="table table-bordered bg-white">
            <thead>
                <tr class="heading">
                    @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                    <th id="sortID" onclick="getOrderbyCategoryList('ID', 'sortID');" class="heading-text sorting">id</th>
                    <th>Product Count</th>
                    <th id="sortType" onclick="getOrderbyCategoryList('CreatedOn', 'sortType');" class="heading-text sorting">CreatedOn</th>
                    <th id="sortBrand" onclick="getOrderbyCategoryList('Discount', 'sortBrand');" class="heading-text sorting">Discount</th>
                    <th id="sortPrice" onclick="getOrderbyCategoryList('OrderStatus', 'sortPrice');" class="heading-text sorting">Order Status</th>
                    <th id="sortOfferPrice" onclick="getOrderbyCategoryList('SubTotal', 'sortOfferPrice');" class="heading-text sorting">SubTotal</th>
                    <th id="sortQuantity" onclick="getOrderbyCategoryList('Total', 'sortQuantity');" class="heading-text sorting">Total</th>
                    <th class="text-capitalize">Action</th>
                </tr>
            </thead>
            @foreach (var order in Model.loOrderList)
            {
                <tr>
                    <td>@order.id</td>
                    <td>
                        <a href="@Url.Action("Index", "OrderDetails", new { Id = order.id })" style="text-decoration:none"> @order.ProductCount Items</a>
                    </td>
                    <td>@order.CreatedOn.ToShortDateString()</td>
                    <td>@InventoryApp.Helpers.CommonFunctions.getCurrencyConverted(order.Discount)</td>
                    <td>@Html.DropDownList("ddlOrdeStatus_" + order.id, Model.loOrdeStatusList, new { @class = "form-control placeholder-no-fix", @onchange = "updateOrderStatus(" + order.id + ", this)" })</td>
                    <td>@InventoryApp.Helpers.CommonFunctions.getCurrencyConverted(order.SubTotal)</td>
                    <td>@InventoryApp.Helpers.CommonFunctions.getCurrencyConverted(order.Total)</td>
                    <td>
                        @{
                            string PDFPath = HttpContext.Current.Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["OrderInvoicePdfPath"]);

                            string PdfName = "Order_Invoice_" + order.id.ToString() + ".pdf";

                            if (Directory.Exists(PDFPath))
                            {
                                DirectoryInfo info = new DirectoryInfo(PDFPath);
                                FileInfo[] files = info.GetFiles(PdfName);

                                if (files != null && files.Count() > 0 && files[0].Name.ToLower() == PdfName.ToLower())
                                {
                                    <text>
                                        <a href="@(Url.Content(System.Configuration.ConfigurationManager.AppSettings["OrderInvoicePdfPath"] + PdfName))" download><i class="fa fa-download"></i></a>
                                    </text>
                                }
                            }
                        }
                    </td>
                </tr>
                <script>
                    $('#ddlOrdeStatus_' + @order.id ).val('@order.OrderStatus');
                </script>
            }
        </table>
    </div>
    if (@Model.inRecordCount > 10)
    {
        <div class="showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <div id="divPager"></div>
            </div>
        </div>
    }
    @Html.Hidden("hdnId", "")
}
else
{
    <div class="table-responsive dash-table">
        <div id="divItemListNoRecord" class="alert alert-warning" align="center">
            <h4><i class="fa fa-warning"></i> No Record Found </h4>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>

