@model InventoryApp.Areas.Admin.Models.OrderModel
@{
    ViewBag.Title = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <div class="section-title">
        <h2>Orders</h2>
    </div>
    <div class="alert alert-success" style="display:none;" id="alertSuccessMsg">
        <a class="close" data-dismiss="alert">&times;</a>
        <span>Order Status updated successfully!</span>
    </div>
    <div class="alert alert-danger" style="display:none;" id="alertErrorMsg">
        <a class="close" data-dismiss="alert">&times;</a>
        <span>Something goes wrong! please try after some time.</span>
    </div>
    <div id="companylist">
        @Html.Partial("_Order", Model)
    </div>
    @Html.Hidden("hdnOrder", "ID ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortID")
    @Html.Hidden("hdnSortingDirection", "ASC")
    @Html.Hidden("hdnStatus", "0")

    <script type="text/javascript">
        var lsgetOrderList = '@Url.RouteUrl("Admin_default", new { controller = "Order", action = "searchProducts" })';
        var lsUpdateOrderStatusUrl = '@Url.RouteUrl("Admin_default", new { controller = "Order", action = "updateOrderStatus" })';
    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/Order.js?ver=1.4")" type="text/javascript"></script>
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");
        $('#lnkManageSellers').addClass('active');
    });
</script>
