@model InventoryApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<center>
    <section>
        <div class="row">
            <div class="col-md-12 col-lg-5 centerpage">
                <div class="white-box bg-white space pinkborder">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <img src="/assets/images/logo1.png" alt="">
                        </div>
                        <p style="text-align:left">Enter your e-mail address below to reset your password.</p>
                        @Html.ValidationSummary("", new { @class = "commonColor" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", style = "max-width:100%;" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "commonColor", style = "float: left" })
                        </div>
                        <div class="form-group">
                            <a href="javascript:void(0)" class="btn btn-gradient login-button" id="btnlogin" style="width:100%">SUBMIT</a>
                        </div>
                        <div class="form-group">
                            <span style="float: right; padding-top: 10px;"><i class="fa fa-arrow-left commonColor"></i> @Html.ActionLink("Back to login", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink", Class = "loginlink commonColor" }) </span>
                        </div>
                        
                    }
                </div>
            </div>
        </div>
    </section>
    <div class="text-center" style="color: #FE0B75;">Copyrights © @DateTime.Now.Year. All Rights Reserved.</div>

    <div id="divLoader" style="display: none;">
        <div style="border: none; z-index: 100010; position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; padding: 0; margin: 0; background-color: #000; filter: alpha(opacity=40); opacity: 0.20;">
        </div>
    </div>
</center>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", ".login-button", function () {
            var form = $(this).closest("form");
            form.valid();

            if (form.valid()) {

                form.submit();
                if ($("#loadingbar").length === 0) {
                    $("body").append("<div id='loadingbar'></div>")
                    $("#divLoader").css("display", "block");
                    $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                    $("#loadingbar").width((50 + Math.random() * 30) + "%");
                }
            }
        });

        $(document).keypress(function (e) {
            if ((e.which == 13) || (e.keyCode == 13)) {
                $('#btnlogin').click();

            }
        });
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@Styles.Render("~/assets/css/loadingbar.css")
