@model InventoryApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

@*<h2>@ViewBag.Title.</h2>*@
<style>
    .login-main {
        height: 400px !important;
        margin: 0 auto;
    }

    input, select, textarea {
        max-width: 320px;
    }

    body {
        padding-top: 0px;
    }
</style>
<div class="main admin login" style="height: 671px; padding-top: 167px;">
    <div class="container-fluid padding-zero">
        <div class="login-main" style="height:420px !important;">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group title col-xs-12 padding-zero">
                    <div class="loginlogo"></div>
                </div>
                <div class="">
                    <hr />
                </div>

                @Html.HiddenFor(model => model.Code)
                @Html.ValidationSummary("", new { @class = "text-danger", @style = "float: left; text-align:left" })
                <div class="form-group col-xs-12 padding-zero">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", style = "max-width:100%;" })
                    @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", style = "    float: left" })*@
                </div>
                <div class="form-group col-xs-12 padding-zero">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", placeholder = "New Password", style = "max-width:100%;" })
                    @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", style = "    float: left" })*@
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>*@
                </div>
                <div class="form-group col-xs-12 padding-zero">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", placeholder = "Confirm Password", style = "max-width:100%;" })
                    @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger", style = "    float: left; text-align:left" })*@
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>*@
                </div>
                <div class="agree col-xs-12 padding-zero">
                    @*<input type="submit" class="btn btn-default" value="Reset" />*@
                    <a href="javascript:void(0)" class="btn btn-default col-xs-12 login-button" id="btnlogin" title="Reset password">RESET</a>
                </div>
            }
        </div>
        <div class="col-xs-12 text-center copyrights">Copyrights © @DateTime.Now.Year. All Rights Reserved.</div>
    </div>
</div>
<div id="divLoader" style="display: none;">
    <div style="border: none; z-index: 100010; position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; padding: 0; margin: 0; background-color: #000; filter: alpha(opacity=40); opacity: 0.20;">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", ".login-button", function () {
            var form = $(this).closest("form");
            //form.submit();
            form.valid();

            if (form.valid()) {

                form.submit();
                if ($("#loadingbar").length === 0) {
                    $("body").append("<div id='loadingbar'></div>")
                    $("#divLoader").css("display", "block");
                    $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                    $("#loadingbar").width((50 + Math.random() * 30) + "%");
                }
            }
        });


        $(document).keypress(function (e) {
            if ((e.which == 13) || (e.keyCode == 13)) {
                $('#btnlogin').click();

            }
        });

    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@Styles.Render("~/assets/css/loadingbar.css")
