@model  InventoryApp.Areas.Admin.Models.OrderDetailsModel

@{
    ViewBag.Title = "Order Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    <div class="section-title">
        <h2>Order Details</h2>
    </div>  
    <form style="padding-top:0px;">
        <div class="white-box bg-white space">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-4" style="text-align:right; padding-left:0px"><label style="padding-top:10px;">Seller Name:</label> </div>
                        <div class="col-md-8"> <label style="padding-top:10px;">@Model.SellerName</label></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-4" style="text-align:right;"><label style="padding-top:10px;">Date:</label></div>
                        <div class="col-md-8"> <label style="padding-top:10px;">@Model.Date</label></div>
                    </div>
                </div>
                <div class="col-md-12"><br /></div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-4" style="text-align:right; padding-left:0px"><label style="padding-top:10px;">Adress:</label></div>
                        <div class="col-md-8"><label style="padding-top:10px;">@Model.Address</label></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-4" style="text-align:right;"><label style="padding-top:10px;">Status:</label> </div>
                        <div class="col-md-8"><label style="padding-top:10px;">@Model.Status</label></div>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
    <div id="orderDetails">
        @Html.Partial("_OrderDetails", Model)
    </div>   
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");
        $('#lnkManageOrders').addClass('active');
    });
</script>
