@model InventoryApp.Areas.Admin.Models.ProductsViewModel
@{
    ViewBag.Title = "Add/Edit Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .uploadFileLable {
        padding: 25px 20px 15px 20px;
        margin-bottom: 0;
    }

    .uploadFileBottomArea {
        padding: 0 15px;
        border-radius: 10px;
    }

    img {
        padding: 2px;
        border: 1px solid lightgray;
    }

    .textGreycolor {
        color: #cecccc;
    }
</style>

<section>
    <div class="section-title">
        @if (Model.id != 0)
        {
            <h2>Edit Product</h2>
        }
        else
        {
            <h2>Add Product</h2>
        }
    </div>
    <div class="white-box bg-white space">
        @using (Html.BeginForm("AddEditProduct", "Products", FormMethod.Post, new { @id = "frmAddEditProduct", @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.stRandomProductId, new { @id = "hdnUploadProductId" })
            @Html.HiddenFor(m => m.id, new { @id = "hdnProductId" })
            @Html.HiddenFor(m => m.lstTierPircing, new { @id = "hdnTierPricing" })
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Product Name&nbsp;<span class="required">*</span>
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Name", @maxlength = "100", @autofocus = "autofocus", @tabindex = "1", @id = "txtName" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Description
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control placeholder-no-fix", @placeholder = "Description", @maxlength = "500", @tabindex = "2", @id = "txtDescription" })

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Type
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextBoxFor(m => m.Type, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Type", @maxlength = "100", @autofocus = "autofocus", @tabindex = "3", @id = "txtType" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.Type)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Brand
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextBoxFor(m => m.Brand, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Brand", @maxlength = "100", @autofocus = "autofocus", @tabindex = "4", @id = "txtBrand" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.Brand)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Price&nbsp;<span class="required">*</span>
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextBoxFor(m => m.Price, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Price", @maxlength = "19", @autofocus = "autofocus", @tabindex = "5", @id = "txtPrice", @onKeyUp = "return validate_double(this, 18, 2)" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.Price)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Minimum Selling Price
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextBoxFor(m => m.MinimumSellingPrice, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Minimum Price", @maxlength = "19", @autofocus = "autofocus", @tabindex = "5", @id = "txtMinSellPrice", @onKeyUp = "return validate_double(this, 18, 2)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Offer Price
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextBoxFor(m => m.OfferPrice, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Offer Price", @maxlength = "19", @autofocus = "autofocus", @tabindex = "6", @id = "txtOfferPrice", @onKeyUp = "return validate_double(this, 18, 2)" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.OfferPrice)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Quantity&nbsp;<span class="required">*</span>
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextBoxFor(m => m.Quantity, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Quantity", @maxlength = "3", @autofocus = "autofocus", @tabindex = "7", @id = "txtQuantity", @onkeypress = "return jsInteger(event);" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.Quantity)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            MOQ
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextBoxFor(m => m.MOQ, null, new { @class = "form-control placeholder-no-fix", @placeholder = "MOQ", @maxlength = "10", @autofocus = "autofocus", @tabindex = "8", @id = "txtMOQ", @onkeypress = "return jsInteger(event);" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.MOQ)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Category&nbsp;<span class="required">*</span>
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.DropDownListFor(m => m.CategoryId, Model.objCategoryList, new { @class = "form-control placeholder-no-fix", @autofocus = "autofocus", @tabindex = "9", @id = "txtCategoryId" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.CategoryId)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Include GST?
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.CheckBoxFor(m => m.ApplyGst, new { @tabindex = "10" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Active
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.CheckBoxFor(m => m.IsActive, new { @placeholder = "Active", @tabindex = "11" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Upload Photos
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7" style="background-color: #f7f5f5; padding: 15px 0px 15px 0px; border-radius:10px;">
                        <div class="uploadFileBottomArea">
                            <div class="uploadButton">
                                <div class="btn border-pink btnFileUpload" style="padding:0; width:250px;">
                                    <label class="uploadFileLable">
                                        UPLOAD PRODUCT PHOTOS <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                        <input type="file" id="fUpload" multiple class="custom-file-input" />
                                    </label>
                                </div>
                            </div>
                            <label id="spnDocuments">(Only image type with max 2 MB size file allowed.)</label>
                            <div class="required" id="imageValidDiv" style="display:none">
                                <label id="imageValidation" class="field-validation-error">.</label>
                            </div>
                            <span class="text-danger" id="spnDocuments" style="display:none;"></span>
                        </div>
                        <br />
                        <br />
                        <div id="divFiles">

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Upload Product Images
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        @Html.TextBoxFor(m => m.loFiles, new { @class = "form-control", @type = "file", @multiple = "multiple", @id = "fUpload" })
                        <label id="spnDocuments">(Only image type with max 2 MB size file allowed.)</label>
                        <div class="required" id="imageValidDiv" style="display:none">
                            <label id="imageValidation" class="field-validation-error">.</label>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <label>
                            Tier Pricing
                        </label>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        <div id="textboxDiv">
                            @if (Model.id == 0 || Model.objTierPricing.Count == 0)
                            {
                                <div id="row1" style='padding-top: 10px;'>
                                    <table>
                                        <tr style="text-align:center">
                                            <td>
                                                <label>From Quantity</label>
                                            </td>
                                            <td>
                                                <label>To Quantity</label>
                                            </td>
                                            <td>
                                                <label>Price</label>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><input id="txtFromQuantity1" class="form-control placeholder-no-fix" placeholder="From Quantity" maxlength="3" onkeypress="return jsInteger(event);" /></td>
                                            <td><input id="txtToQuantity1" class="form-control placeholder-no-fix" placeholder="To Quantity" maxlength="3" onkeypress="return jsInteger(event);" /></td>
                                            <td><input id="txtTierPrice1" class="form-control placeholder-no-fix" placeholder="Price" maxlength="19" onkeyup="return validate_double(this, 18, 2)" /></td>
                                            <td><a href="javascript:void(0);" id="Add" style="text-decoration:none" tooltip="Add"><i class="fa fa-plus" style="padding-left:10px;"></i></a> </td>
                                        </tr>
                                    </table>
                                </div>
                                <input type="hidden" value="2" id="hdnTierPricCount" />
                            }
                            else
                            {
                                for (int i = 1; i <= Model.objTierPricing.Count; i++)
                                {
                                    <div id="@("row" + i)" style="padding-top: 10px;">
                                        <table>
                                            @if (i == 1)
                                            {
                                                <tr style="text-align:center">
                                                    <td>
                                                        <label>From Quantity</label>
                                                    </td>
                                                    <td>
                                                        <label>To Quantity</label>
                                                    </td>
                                                    <td>
                                                        <label>Price</label>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td><input id="@("txtFromQuantity" + i)" value="@Model.objTierPricing[i-1].QtyFrom" class="form-control placeholder-no-fix" placeholder="From Quantity" maxlength="3" onkeypress="return jsInteger(event);" /></td>
                                                <td><input id="@("txtToQuantity" + i)" value="@Model.objTierPricing[i-1].QtyTo" class="form-control placeholder-no-fix" placeholder="To Quantity" maxlength="3" onkeypress="return jsInteger(event);" /></td>
                                                <td><input id="@("txtTierPrice" + i)" value="@Model.objTierPricing[i-1].Price" class="form-control placeholder-no-fix" placeholder="Price" maxlength="19" onkeyup="return validate_double(this, 18, 2)" /></td>
                                                <td>
                                                    @if (i == 1)
                                                    {
                                                        <a href="javascript:void(0);" id="Add" style="text-decoration:none"><i class="fa fa-plus" style="padding-left:10px;"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-remove" onclick="deleteRow(@i);" style="padding: 10px;cursor:pointer"></i>
                                                    }

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                                <input type="hidden" value="@Model.objTierPricing.Count" id="hdnTierPricCount" />
                            }
                        </div>
                        <div class="required" id="isAllTierPrice" style="display:none">
                            <span class="field-validation-error">Please fill all data.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-block-solid-pink text-center pull-right">
                <button tabindex="20" type="button" title="Submit" class="btn btn-gradient" id="btnSubmit" onclick="validateForm()">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save <i class=" m-icon-swapright">
                    </i>
                </button>
                <a class="btn  btn-gradient" title="Cancel" onclick="cancelForm();" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "Products" })">
                    <i class=" fa fa-angle-left"></i>&nbsp;&nbsp;Cancel
                </a>
            </div>
        }
    </div>
</section>

<script>
     var loFileUploadUrl = '@Url.RouteUrl("Admin_default", new { controller = "Products", action = "FileUpload" })';
     var loGetUploadedFileUrl = '@Url.RouteUrl("Admin_default", new { controller = "Products", action = "getUploadedFile" })';
     var loDeleteUploadedFileUrl = '@Url.RouteUrl("Admin_default", new { controller = "Products", action = "DeleteUploadedFile" })';
</script>

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");
        $('#lnkProduct').addClass('active');

        $('.dashboard-menu').height($(document).height());

        @if (Model.id > 0)
        {
            <text>
               uploadFile(@Model.id);
            </text>
        }
            //$(document).ready(function () {
            //    $('#fUpload').change(function () {
            //        $("#imageValidDiv").hide();
            //        debugger;
            //        var fp = $("#fUpload");
            //        var lg = fp[0].files.length;
            //        var items = fp[0].files;

            //        if (lg > 0) {
            //            for (var i = 0; i < lg; i++) {
            //                var fileSize = items[i].size;
            //                if (fileSize > 2097152) {
            //                    $('#imageValidation').html('File size must not be more than 2 MB');
            //                    $('#fUpload').val('');
            //                    $("#imageValidDiv").show();
            //                }

            //                var ext = items[i].name.split(".");
            //                ext = ext[ext.length - 1].toLowerCase();

            //                var arrayExtensions = ["jpg", "jpeg", "png", "bmp", "gif", "JPG", "JPEG", "PNG"];

            //                if (arrayExtensions.lastIndexOf(ext) == -1) {
            //                    $('#imageValidation').html('Please upload only image type file.');
            //                    $('#fUpload').val('');
            //                    $("#imageValidDiv").show();
            //                }
            //            }
            //        }
            //    });
            //});

        });
    function jsInteger(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 46)
            return false;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    var RowId = $("#hdnTierPricCount").val();

    $(document).ready(function () {
        $("#Add").on("click", function () {
            var divHTML = "<div id='row" + RowId + "' style='padding-top: 10px;'>";
            divHTML = divHTML + "<table >";
            divHTML = divHTML + "<tr>";
            divHTML = divHTML + "<td><input id='txtFromQuantity" + RowId + "' class='form-control placeholder-no-fix' placeholder='From Quantity' maxlength='3' onkeypress = 'return jsInteger(event);'/></td>";
            divHTML = divHTML + "<td><input id='txtToQuantity" + RowId + "' class='form-control placeholder-no-fix' placeholder='To Quantity' maxlength='3' onkeypress = 'return jsInteger(event);'/></td>";
            divHTML = divHTML + "<td><input id='txtTierPrice" + RowId + "' class='form-control placeholder-no-fix' placeholder='Price' onKeyUp = 'return validate_double(this, 18, 2)' maxlength='19'/></td>";
            divHTML = divHTML + "<td>";
            divHTML = divHTML + "<i class='fa fa-remove' onclick='deleteRow(" + RowId + ");' style='padding: 10px;cursor:pointer'></i>";
            divHTML = divHTML + "</td>";
            divHTML = divHTML + "</tr>";
            divHTML = divHTML + "</table>";
            divHTML = divHTML + "</div>";
            $("#textboxDiv").append(divHTML);
            RowId = RowId + 1;
        });
    });
    function deleteRow(Id) {
        $("#row" + Id).remove();
    }
    function readData() {
        var isAllAdded = true;
        var tierPriceArry = new Array();
        for (i = 1; i <= RowId; i++) {
            var fromQty = $("#txtFromQuantity" + i).val();
            var toQty = $("#txtToQuantity" + i).val();
            var tierPrice = $("#txtTierPrice" + i).val();

            if (typeof fromQty !== "undefined" && typeof toQty !== "undefined" && typeof tierPrice !== "undefined") {
                if (fromQty !== "" && toQty !== "" && tierPrice !== "") {
                    var data = fromQty + "/" + toQty + "/" + tierPrice;
                    tierPriceArry.push(data);
                }
                else
                    isAllAdded = false;
            }
        }
        if (isAllAdded === false) {
            $('#isAllTierPrice').show();
            return false;
        }
        else {
            $('#isAllTierPrice').hide();
        }
        $("#hdnTierPricing").val(tierPriceArry);
        return true;
    }

    function validateForm() {
        var isValid = readData();
        var form = $("#frmAddEditProduct");

        form.valid();

        if (form.valid() && isValid) {
            form.submit();
            if ($("#loadingbar").length === 0) {
                $("body").append("<div id='loadingbar'></div>")
                $("#divLoader").css("display", "block");
                $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                $("#loadingbar").width((50 + Math.random() * 30) + "%");
            }
        }
        return false;
    }

    function uploadFile(prdId) {
        $("#hdnUploadProductId").val(prdId);
        $("#imageValidDiv").hide();
        $('#fUpload').val('');
        $("#divFiles").html('');
        $.ajax({
            url: loGetUploadedFileUrl,
            type: "GET",
            content: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: {
                Id: prdId,
            },
            success: function (result) {

                if (result) {
                    for (var i = 0; i < result.fileNameWithPath.length; i++) {

                        var deleteclick = "deleteFile(" + i + ")";
                        //var appendData = '<div class="col-md-3" style="display:inline-block; padding:0; margin:5px 20px;" ><img src="/Images/Product/' + prdId + "/" + result.fileNameWithPath[i].Value + '" /><br><a href="/Images/Product/' + prdId + "/" + result.fileNameWithPath[i].Value + '" target="_blank" style="color:#E28E16">View</a> <i style="float: right; cursor:pointer;" class="fa fa-close" onclick="deleteFile("' + result.fileNameWithPath[i].Value + '")"></i></div>';
                        var appendData = "<div class='col-md-3' style='display:inline-block; padding:0; margin:5px 20px;' ><input type='hidden' value='" + result.fileNameWithPath[i].Value + "' id='imgName" + i + "'><img src='/Images/Product/" + prdId + '/' + result.fileNameWithPath[i].Value + "' /><br><a href='/Images/Product/" + prdId + '/' + result.fileNameWithPath[i].Value + "' target='_blank' style='color:#E28E16'>View</a> <i style='float: right; cursor:pointer;' class='fa fa-close textGreycolor' onclick='" + deleteclick + "')'></i></div>";
                        $("#divFiles").append(appendData);
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (errorThrown === "abort") {
                    return;
                }
                else {
                    alert(errorThrown);
                }
            }
        });
    }

    function deleteFile(imageNameId) {
        var imageName = $("#imgName" + imageNameId).val();
        $.ajax({
            type: "POST",
            url: loDeleteUploadedFileUrl,
            content: "application/json; charset=utf-8",
            //dataType: "json",
            data: {
                Id: $("#hdnUploadProductId").val(),
                filename: imageName
            },
            success: function (lodata) {
                if (lodata !== null) {
                    var prdId = $("#hdnUploadProductId").val();
                    uploadFile(prdId);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (errorThrown === "abort") {
                    return;
                }
                else {
                    alert(errorThrown);
                }
            }
        });
    }

    $(document).ready(function () {
        $('#fUpload').change(function () {
            var fp = $("#fUpload");
            var lg = fp[0].files.length;
            var items = fp[0].files;
            var fileData = new FormData();
            var isValidAllFiles = true;
            if (lg > 0) {
                for (var i = 0; i < lg; i++) {
                    var fileSize = items[i].size;
                    var ext = items[i].name.split(".");
                    ext = ext[ext.length - 1].toLowerCase();

                    var arrayExtensions = ["jpg", "jpeg", "png", "bmp", "gif", "JPG", "JPEG", "PNG"];

                    if (fileSize > 2097152) {
                        $('#imageValidation').html('File size must not be more than 2 MB');
                        $('#fUpload').val('');
                        $("#imageValidDiv").show();
                        isValidAllFiles = false;
                    }
                    else if (arrayExtensions.lastIndexOf(ext) == -1) {
                        $('#imageValidation').html('Please upload only image type file.');
                        $('#fUpload').val('');
                        $("#imageValidDiv").show();
                        isValidAllFiles = false;
                    }
                    else {
                        fileData.append($("#hdnUploadProductId").val(), items[i]);
                    }
                }
                if (isValidAllFiles) {
                    // Adding one more key to FormData object
                    fileData.append('username', 'Manas');
                    $.ajax({
                        url: loFileUploadUrl,
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        async: false,
                        data: fileData,
                        success: function (result) {
                            if (result.isSuccess) {
                                for (var i = 0; i < result.fileNameWithPath.length; i++) {
                                    var imgRandomId = Math.floor(Math.random() * 999999);
                                    var deleteclick = "deleteFile(" + imgRandomId + ")";
                                    //var appendData = "<div class='col-md-3' style='display:inline-block; padding:0; margin:5px 20px;' ><img src='/Images/Product/" + $('#hdnUploadProductId').val() + '/' + result.fileNameWithPath[i].Item2 + "' /><br><a href='/Images/Product/" + $('#hdnUploadProductId').val() + '/' + result.fileNameWithPath[i].Item2 + "' target='_blank' style='color:#E28E16'>View</a> <i style='float: right; cursor:pointer;' class='fa fa-close' onclick='deleteFile('" + result.fileNameWithPath[i].Item2 + "')'></i></div>";
                                    var appendData = "<div class='col-md-3' style='display:inline-block; padding:0; margin:5px 20px;' ><input type='hidden' value='" + result.fileNameWithPath[i].Item2 + "' id='imgName" + imgRandomId + "'><img src='/Images/Product/" + $('#hdnUploadProductId').val() + '/' + result.fileNameWithPath[i].Item2 + "' /><br><a href='/Images/Product/" + $('#hdnUploadProductId').val() + '/' + result.fileNameWithPath[i].Item2 + "' target='_blank' style='color:#E28E16'>View</a> <i style='float: right; cursor:pointer;' class='fa fa-close' onclick='" + deleteclick + "')'></i></div>";
                                    $("#divFiles").append(appendData);
                                }

                            } else {
                                $("#spnDocuments").css("display", "block");
                                $('#spnDocuments').html(result.outPutMessage);
                            }

                            $('#fUpload').val('');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (errorThrown === "abort") {
                                return;
                            }
                            else {
                                alert(errorThrown);
                            }
                        }
                    });
                }
            }
        });
    });
</script>