@model InventoryApp.Areas.Admin.Models.ProductsModel
@{
    ViewBag.Title = "Manage Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    <div class="section-title">
        <h2>Products</h2>
    </div>
    <form style="padding-top:0px;">
        <div class="add-card ">
            <div class="btn-block">
                <a href="@Url.RouteUrl("Admin_default", new { action = "AddEditProduct", controller = "Products" })" class="btn toggle">Add New Product <i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="white-box bg-white space">
            <div class="row">
                <div class="col-lg-5">
                </div>
                <div class="col-lg-5">
                    <input type="text" class="form-control" id="txtSearch" maxlength="100" placeholder="Search by Product name ..." onkeypress="userSearch(event);">
                </div>
                <div class="col-lg-2">
                    <button type="button" id="btnSearch" class="btn btn-gradient" onclick="search();">Search</button>
                </div>
            </div>
        </div>
    </form>
    <div id="divProductlist">
        @Html.Partial("_Products", Model)
    </div>
    @Html.Hidden("hdnOrder", "Name ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortName")
    @Html.Hidden("hdnSortingDirection", "ASC")
    <script type="text/javascript">
        var lsSearchProductsUrl = '@Url.RouteUrl("Admin_default", new { controller = "Products", action = "searchProducts" })';
        var lsDeleteProductUrl = '@Url.RouteUrl("Admin_default", new { controller = "Products", action = "DeleteProduct" })';
    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/Products.js?ver=1.0")" type="text/javascript"></script>
</section>

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");
        $('#lnkProduct').addClass('active');
    });
</script>


